@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'CustomFont';
    src: url('/fonts/246ef2d1c252b3f0-s.p.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .font-custom {
    font-family: 'CustomFont', sans-serif;
  }
  